################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Fibonacci Drawing/v16/.suo
*.TMP
